.navbar {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar h4 {
color: #2c6685;
 font-weight: 1200;
  font-size: 1.5rem; 
}

.actions {
  display: flex;
  gap: 15px;
}

.user-initials {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F8FAFF; /* color del círculo */
  color: #2c6685; /* letras blancas */
  font-weight: 900;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.icon, .logout-btn {
  width: 36px;              /* mismo tamaño que el círculo de iniciales */
  height: 36px;
  border-radius: 50%;       /* ambos redondos */
  display: flex;
  align-items: center;
  justify-content: center;  /* mismo color que las iniciales, opcional */
   color: #2c6685;
  background-color: #F8FAFF;          /* letras e iconos blancos */
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px;
}

.icon:hover, .logout-btn:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.logout-btn i {
  font-size: 16px;          /* icono escalado al tamaño del botón */
}
.logout-btn:focus {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
  border-radius: 4px;
}

