<div class="login-container">
  <div class="right-side">
    <div class="welcome-box">
      <img src="assets/img/logoBlanco.png" alt="Logo" class="logo-img">
      <div class="big-title">VIAGEST</div>
      <div class="small-subtitle">PLATAFORMA DE GESTIÓN DE VIAJES</div>
      <div class="separator"></div>
      <div class="extra-text">Tu agencia, más organizada y eficiente que nunca.</div>
    </div>
  </div>

  <div class="left-side">
    <div class="form-box">
      <h2>Bienvenido</h2>
      <p class="subtitle">Inicia sesión en tu cuenta</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <label>Usuario o correo</label>
        <input type="text" formControlName="username" placeholder="Usuario o correo">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Contraseña">
        <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
      </form>
      <div class="footer-text">© 2025 ViaGest. Todos los derechos reservados.</div>
    </div>
  </div>
</div>
