<aside class="sidebar">
  <div class="logo">ViaGest</div>

  <nav class="menu">
    <a routerLink="/home" routerLinkActive="active">Dashboard</a>
    <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/paquetes" routerLinkActive="active">Paquetes</a>
    <a routerLink="/reservas" routerLinkActive="active">Reservas</a>
    <a routerLink="/pagos" routerLinkActive="active">Pagos</a>
  </nav>

  <div class="footer">
    <a routerLink="/settings">⚙ Ajustes</a>
  </div>
</aside>
